name: Simple deployment pipeline

on:
  push:
    branches:
      - main

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install dependency
        run: npm install
      - name: Check style
        run: npm run lint
      - name: Run unit test
        run: npm run test
      - name: Build project
        run: npm run build
